<body>
    <header>
        <div class="caixa">
            <a href="#">
                <img src="./assets/img/logo.png" class="tamanholog"/>
            </a>
            <nav>
                <ul>
                    <li>
                        <a class="item"  [routerLink]="['/login']">Login</a>
                        <a class="item" [routerLink]="['/perfil']">Perfil</a>
                        <a class="item" [routerLink]="['/cadastro']">Cadastro</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</body>

