<div class="main">
    <h1>CADASTRO</h1>
    <div class="grupo">
        <input type="text" class="form" id="name"  placeholder="Nome">
    </div>
    <div class="grupo">
        <input type="text" class="form" id="idade"  placeholder="Idade">
    </div>
    <div class="grupo">
        <input type="text" class="form" id="raca"  placeholder="Raça">
    </div>
    <div class="grupo">
        <input type="text" class="form" id="user"  placeholder="Usuario">
    </div>
    <div>
        <input type="password" class="form" id="password" placeholder="Senha">
    </div>
    <div class="grupo">
        <input type="text" class="form" id="foto"  placeholder="LinkFoto">
    </div>
    <button class="botao" (click)="submit()">Confirmar</button>
</div>
  